#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-2 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-4 .mbr-header__text {
  color: #000000;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-article P {
  color: #000000;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#content5-5 .mbr-article P {
  text-align: center;
}
#msg-box4-c .mbr-header__text {
  color: #000000;
}
#msg-box4-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-c .mbr-article {
  color: #ffffff;
}
#msg-box4-c .mbr-article P {
  color: #000000;
}
#msg-box4-d .mbr-header__text {
  color: #000000;
}
#msg-box4-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-d .mbr-article {
  color: #ffffff;
}
#msg-box4-d .mbr-article P {
  color: #000000;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#content5-7 .mbr-article P {
  text-align: center;
}
#ext_menu-l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-l .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-n .mbr-header__text {
  color: #000000;
}
#msg-box4-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-n .mbr-article {
  color: #ffffff;
}
#msg-box4-n .mbr-article P {
  color: #000000;
}
#content5-o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-o .mbr-article {
  color: #fff;
}
#content5-o .mbr-article P {
  text-align: center;
}
#msg-box4-p .mbr-header__text {
  color: #000000;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#msg-box4-p .mbr-article P {
  color: #000000;
}
#msg-box4-q .mbr-header__text {
  color: #000000;
}
#msg-box4-q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-q .mbr-article {
  color: #ffffff;
}
#msg-box4-q .mbr-article P {
  color: #000000;
}
#content5-r .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-article {
  color: #fff;
}
#content5-r .mbr-article P {
  text-align: center;
}
